:root{
  --primary-color: #1B5B5A;
  --secondary-color: #FCB6B9;
  --tertiary-color: #023638;
  --white: #F9F9F9;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(27,91,90);
  background: linear-gradient(0deg, rgba(27,91,90,1) 10%, rgba(252,182,185,1) 100%);}

section {
  margin-bottom: 2em;
  border-radius: 10px;
}

.bi {
  font-size: 1.25em;
}

.btn {
  font-weight: 700;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
.btn:hover{
  background-color: var(--tertiary-color)
}

